<body>
<!-- banner -->
	<div class="banner container-fluid">
		<!-- header -->
		<div class="header ">
			<!-- navigation -->
			<div  class="navigation agiletop-nav">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header w3l_logo">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1> <%= link_to image_tag("safaree-v6-2.png"), "/" %></h1>
						</div>
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav navbar-right">
								<li class="header-button"><a href="index.html" >Sign up</a></li>
								<li class="header-button"><a href="index.html">Log in</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- //navigation -->
		</div>
		<!-- //header-end -->
		<!-- banner-text -->
		<div class="banner-text">
			<div class="container">
				<h2> <span> Discover & Book unique experiences driven by locals</span></h2>
				
				<%= form_tag experiences_path, method: :get do %>
				  <div class="agileits_search">
                      <%= text_field_tag :search, params[:search] %>

                      <%= submit_tag "Search", name: nil %>
                    </div>
               <% end %>	
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
	<!-- add-products -->
	

	</div>

	<div class="add-products">
		<div class="container-fluid">
			<div class="row add-products-row">
				<div class="col-md-4 col-sm-6 w3ls-add-grids lagos">
					<a href="menu.html">
						<h4 style="color: white">Lagos</h4>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 w3ls-add-grids w3ls-add-grids-right accra">
					<a href="experiences">
						<h4 style="color: white">Accra</h4>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 w3ls-add-grids w3ls-add-grids-right lome">
					<a href="menu.html">
						<h4 style="color: white">Lome</h4>
					</a>
				</div>
				<div style="margin-bottom: 20px" class="clearfix"> </div>

			<div >
				<div class="col-sm-6 w3ls-add-grids cotonou">
					<a href="menu.html">
						<h4 style="color: white">Cotonou</h4>
					</a>
				</div>
				<div class="col-sm-6 w3ls-add-grids w3ls-add-grids-right kakum">
					<a href="menu.html">
						<h4 style="color: white">Kakum</h4>
					</a>
				</div>
				<div class="col-sm-6 w3ls-add-grids w3ls-add-grids-right abuja">
					<a href="menu.html">
						<h4 style="color: white">Abuja</h4>
					</a>
				</div>
			</div>

				
			</div>

				<div class="clearfix"> </div>
		</div>
	</div>


	<!-- subscribe -->
	<div class="subscribe agileits-w3layouts">
		<div class="container">
			
			<div class="col-md-12 subscribe-right">
				<h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
				<form action="#" method="post">
					<input type="email" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
					<div class="clearfix"> </div>
				</form>
				<!--<img src="images/i1.png" class="sub-w3lsimg" alt="" />-->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe -->

</body>

<% @experiences.each do |experience| %>

<%= experience.title %>
<%= experience.tagline %>

<% end %>